<div class="jumbotron">
    <h1>submitted by John Amarante</h1>
    <p class="lead">John is a .NET developer with over 9 years of development experience. He lives in Monterey California.</p>
    <p>Email: john.amarante8888@gmail.com</p>
    <p>Phone: 831-915-8598</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h1>Short Code Test Q&A</h1>
        <a href="https://gist.github.com/jam88881/36aff843815a6baac935026a41b63a5e">gist</a>
        
    </div>
</div>
